<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<head th:replace="fragments/header :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: cabecera"></div>

	<div align="center">

			<a id="proyecto_git" href="https://github.com/Arquisoft/Voting_4b" title="Ver proyecto GitHub"><i
				class="material-icons">visibility</i></a> 

	</div>
</body>
</html>
