body {
    background-color: whitesmoke;
}


h1 {
    color: paleturquoise;
    font: bold 65px Helvetica, Arial, Sans-Serif;
    text-align: center;
    vertical-align: middle;
}

#subTitle {
    color: lavender;
    font: 30px Helvetica, Arial, Sans-Serif;
    text-align: center;
    vertical-align: middle;
    margin-top: -50px;
}

header {
    margin-bottom: 70px;
}