@CHARSET "ISO-8859-1";

h1 {
	margin-left: 40%;
	margin-top: 5%;
	font-size: 50px;
	font-weight: 100;
	color: #eee;
}

h2{

	margin-top: 1%;
	font-size: 40px;
	font-weight: 200;
	color: #eee;
	font-style:oblique;
}

p{
	margin-top: 5%;
	color: #eee;
	font-size: 18px;
}

a {
	font-size: 17px;
	font-weight: 500;
	color: #EEEEEE;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	position: relative;
	height: 100%;
	background-image:
		url("http://static1.squarespace.com/static/554578efe4b06698c529a224/t/56e19eaac2ea51840bab4376/1457626796511/Election+Background.jpg?format=1500w");
	background-size: cover;
	overflow: auto;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.material-icons {
	margin-top: 10%;
	font-size: 200px;
}

#votar {
	margin-right: 35%;
}

#modificar_elecciones {
	margin-left: 35%;
}

a:hover {
	background: #eee;
	text-decoration: none;
}

a.tooltip:hover span {
	display: inline;
	position: absolute;
	color: #fff;
	font-size: 40px;
	line-height: 120%;
}

.boton_votar, .boton_modificar {
	letter-spacing: .5em;
	text-decoration: none;
	padding: 0.75em 1.25em 0.75em 1.75em;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	white-space: nowrap;
	border-radius: 5px;
	color: white;
	background-color: transparent;
	text-align: center;
	font-family: futura;
}

.boton_add_colegio, .boton_colegio ,.boton_login {
	font-size: 17px;
	text-decoration: none;
	padding: 0.50em 1.10em 0.50em 1.50em;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	white-space: nowrap;
	border-radius: 5px;
	color: white;
	background-color: transparent;
	text-align: center;
	font-family: futura;
}

a:-webkit-any-link {
	cursor: auto;
}

button.boton_votar:hover, button.boton_modificar:hover, a.boton_add_colegio:hover,
	button.boton_colegio:hover, button.boton_login:hover {
	background: #310B54;
}

.input_siglas_partido, #field1 {
	margin-top: 5%;
}

#field2, .boton_login{
	margin-top:1%;
}



.input_siglas_partido {
	color: #734A99;
	outline: none;
	border: none;
	padding: 20px;
	font-size: 24px;
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.7);
	transition: transform 0.5s cubic-bezier(0.67, -0.33, 0.62, 1.35),
		box-shadow 0.4s ease;
	margin-right: 10px;
}

.nombre_elecciones, .opciones_voto, .fecha_inicial, .fecha_final,
	.hora_inicial, .hora_final, .nombre_partido, .circunscripcion_colegio,
	.ca_colegio {
	color: #734A99;
	outline: none;
	border: none;
	padding: 10px;
	font-size: 22px;
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.7);
	transition: transform 0.5s cubic-bezier(0.67, -0.33, 0.62, 1.35),
		box-shadow 0.4s ease;
	margin-right: 10px;
}

.cod_colegio, #field1, #field2 {
	color: #734A99;
	outline: none;
	border: none;
	padding: 10px;
	font-size: 18px;
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.7);
	transition: transform 0.5s cubic-bezier(0.67, -0.33, 0.62, 1.35),
		box-shadow 0.4s ease;
	margin-right: 10px;
}

.nombre_elecciones, .opciones_voto, .fecha_inicial, .fecha_final,
	.hora_inicial, .hora_final, .nombre_partido, .cod_colegio,
	.circunscripcion_colegio, .ca_colegio {
	margin-top: 10px;
	text-align: center;
}

.nombre_elecciones, .nombre_partido, .cod_colegio, .lista_partidos {
	margin-top: 3%;
}

input.input_siglas_partido:focus, input.nombre_elecciones:focus, input.opciones_voto:focus,
	input.fecha_inicial:focus, input.fecha_final:focus, input.hora_inicial:focus,
	input.hora_final:focus, input.nombre_partido:focus, input.cod_colegio:focus,
	input.circunscripcion_colegio:focus, input.ca_colegio:focus, input#field1:focus,  input#field2:focus {
	box-shadow: 10px 2px 50px #000;
	transform: scale(1.5, 1.5);
}

.etiqueta_fecha_inicial, .etiqueta_fecha_final, .lista_partidos,
	.etiqueta_cod_colegio, .etiqueta_email, .etiqueta_password{
	font-size: 25px;
	font-weight: 100;
	color: #eee;
}


.lista_partidos, .etiqueta_cod_colegio {
	font-size: 18px;
}

table, th, td {
	border: 1px solid black;
	border-color: #eee;
	color: #eee;
	text-align: center;
}

table {
	margin-top: 1%;
	border-collapse: collapse;
	width: 8%;
}

input[name=volver_atras] {
	color: #fff;
	font-size: 70px;
	background: transparent;
	margin-top: -5rem;
	margin-right: 40rem;
	cursor: pointer;
}


.icono_return{
	outline: none;
	border: none;
	margin-left:5%;
}

.mostrar_mensaje {
	margin-top:3%;
	font-size: 25px;
	font-weight: 100;
	color: #eee;
	font-size: 18px;
}}