<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<head th:replace="fragments/header :: head">
</head>
<body>
	<div th:replace="fragments/header :: cabecera"></div>

	<div align="center">

			<a id="modificar_elecciones" href="modificar_elecciones.html" title="Modificar elecciones"> <i
				class="material-icons">mode_edit</i></a>
				
			<a id="votar" href="WelcomePage.html" title="Votar"><i
				class="material-icons">email</i></a> 

	</div>
</body>
</html>