<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
	<div align="center">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Nif</th>
					<th>Email</th>
					<th>Polling Station Code</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="atribute : ${atributes}">
					<td th:text="${atribute.name}" />
					<td th:text="${atribute.nif}" />
					<td th:text="${atribute.email}" />
					<td th:text="${atribute.pollingStationCode}" />
				</tr>
			</tbody>
		</table>

		<form id="gizmo-form" role="form" th:action="@{/changePassword}"
			method="post" th:object="${gizmo}">
			<div id="buttonDIV">
				<button class="boton_change" type="submit" id="button">CHANGE PASSWORD</button>
			</div>
		</form>
	</div>
</body>
</html>