<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<head th:replace="fragments/header :: head">
</head>
<body>
	<div th:replace="fragments/header :: cabecera"></div>

	<div align="center">
			
			<a id="perfil_votante" href="InfoPage.html" title="Perfil votante"> <i
				class="material-icons">perm_identity</i></a>
				
			<a id="votar" href="votar.html" title="Votar"><i
				class="material-icons">email</i></a> 

	</div>
</body>
</html>